

.left {
    width: 25%;
  }
  
.right {
    width: 75%;
  }

.row1 button:first-child {
    width: 200px;

}

.row1 button:nth-child(2) {
    width: 100px;
    
}

.row1 button:nth-child(3) {
    width: 100px;

}

.row2 button:first-child {
    width: 100px;
}

.row2 button:nth-child(2) {
    width: 100px;
}

.row2 button:nth-child(3) {
    width: 100px;
}

.row2 button:nth-child(4) {
    width: 100px;
}

.row3 button:first-child {
    width: 100px;
}

.row3 button:nth-child(2) {
    width: 100px;
}

.row3 button:nth-child(3) {
    width: 100px;
}

.row3 button:nth-child(4) {
    width: 100px;
}

.row4 button:first-child {
    width: 100px;
}

.row4 button:nth-child(2) {
    width: 100px;
}

.row4 button:nth-child(3) {
    width: 100px;
}

.row4 button:nth-child(4) {
    width: 100px;
}

.row5 button:first-child {
    width: 300px;
}

.row5 button:nth-child(2) {
    width: 100px;
}

.row0 {
    background-color: black;
    color: white; 
    max-width: 400px;
    height: 85px;
    text-align: right;
    padding-right: 10px;
    overflow: auto; 
}

button {
    height: 100px;
    background-color: #d8d9db;
    border-bottom: 1px solid black;
    border-top: none;
}

.turunc {
    background-color: #e08c24;
    border: 1px solid black;
    color: white;
}

button:hover {
    background-color: #ebebeb;
}

.row0 p {
    margin-top: 19px;
    font-size: 30px;
}

.button-container {
    max-width: 425px;
}